name: .NET CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'
    - run: dotnet restore
    - run: dotnet build --no-restore
    - run: dotnet test --no-build
 
# - name: SonarQube Analysis
#   run: |
#     dotnet tool install --global dotnet-sonarscanner
#     dotnet sonarscanner begin /k:"project-key" /d:sonar.host.url="https://sonarcloud.io"
#     dotnet build
#     dotnet sonarscanner end
